@charset "UTF-8";
/* ================= header ================= */
.single-product #widget-nav_menu-5 {
  display: none;
}

#popmake-19955 .popmake-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}
#popmake-19955 .btn-submit {
  background: #F00000;
  color: #fff;
  border: 1px solid #F00000;
}

.the-spin {
  display: none;
}

.uk-slider-nav li a {
  background: #C4C4C4;
}
.uk-slider-nav li.uk-active a {
  width: 40px;
  transition: 0.3s;
  border-radius: 5px;
  background: #00853C;
}

.widget-menu .uk-nav-parent-icon > .uk-parent > a::after {
  transform: rotateY(180deg);
}

.breadcrumb-cat {
  margin-bottom: 10px;
}

.fixheader {
  position: fixed;
  background: #fff;
  z-index: 999;
  width: 100%;
  padding: 2px 0px;
  height: 46px;
  border-bottom: 1px solid #00853c;
}
.fixheader .uk-logo img {
  height: 45px !important;
}
.fixheader #header-short-code .hottline-header a {
  font-size: 16px;
}
.fixheader #header-short-code .shopping-cart a {
  color: #000;
}
.fixheader #header-short-code .shopping-cart a:hover {
  color: #00853c;
}

.footer-fix-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 9999;
}
.footer-fix-bottom .item-bt-contact {
  display: block;
  text-align: center;
}
.footer-fix-bottom .item-bt-contact span {
  display: block;
  font-size: 10px;
  color: #000;
}
.footer-fix-bottom .gohang-ft {
  display: block;
  text-align: center;
  position: relative;
}
.footer-fix-bottom .gohang-ft img {
  display: block;
  width: 26px;
  margin: 0 auto;
  margin-bottom: -7px;
}
.footer-fix-bottom .gohang-ft .shopping-cart a {
  font-size: 10px;
  color: #000;
  display: block;
  overflow: hidden;
  margin-top: 3px;
}
.footer-fix-bottom .gohang-ft .shopping-cart a #countShoppingCart {
  position: absolute;
  top: -26px;
  right: 1px;
  font-size: 8px;
  background: red;
  border-radius: 50%;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 15px;
}
.footer-fix-bottom .gohang-ft .shopping-cart .dropdown-cart {
  display: none;
}

#widget-search-4 .woocommerce-product-search {
  position: relative;
  width: 260px;
}
#widget-search-4 .woocommerce-product-search span {
  right: 0px;
  left: unset;
  color: #00853C;
}
#widget-search-4 .woocommerce-product-search .search-field {
  border-radius: 50px;
  border: 0.5px solid #0B4FA0;
  padding-left: 10px !important;
  -webkit-appearance: none;
}

#header-short-code > div {
  padding: 0px 30px;
}
#header-short-code .theodoidonhang {
  display: flex;
}
#header-short-code .theodoidonhang img {
  margin-right: 10px;
  width: 41px;
  height: 41px;
}
#header-short-code .theodoidonhang a {
  color: #000;
}
#header-short-code .theodoidonhang a:hover {
  color: #00853C;
}
#header-short-code .signin-signup {
  display: flex;
}
#header-short-code .signin-signup img {
  margin-right: 10px;
  height: 37px;
}
#header-short-code .signin-signup a {
  /*display: block;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  color: #0B4FA0;
}
#header-short-code .signin-signup a:hover {
  color: #00853c;
}
#header-short-code .hottline-header {
  display: flex;
}
#header-short-code .hottline-header img {
  margin-right: 10px;
  height: 34px;
}
#header-short-code .hottline-header a {
  color: #F36E24;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
#header-short-code .giohang-header {
  display: flex;
  align-items: center;
}
#header-short-code .giohang-header > a > img {
  width: 41px;
  height: 41px;
}
#header-short-code .giohang-header .shopping-cart {
  position: relative;
}
#header-short-code .giohang-header .shopping-cart .cart-img > span {
  width: 40px;
  display: block;
  padding-left: 10px;
}
#header-short-code .giohang-header .shopping-cart #countShoppingCart {
  position: absolute;
  color: #FFF;
  background: red;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  top: -2px;
  left: -15px;
}
#header-short-code .giohang-header .shopping-cart a {
  color: #0B4FA0;
}
#header-short-code .giohang-header .shopping-cart a:hover {
  color: #00853c;
}

.uk-navbar-nav > li {
  transition: all 0.5s ease;
}
.uk-navbar-nav > li a.item-menu-cat {
  background: #00622C;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
}
.uk-navbar-nav > li a.item-menu-cat img {
  float: left;
  margin-right: 15px;
}
.uk-navbar-nav > li .uk-navbar-dropdown-nav li {
  border-bottom: 1px solid #eee;
  position: relative;
}
.uk-navbar-nav > li .uk-navbar-dropdown-nav li.uk-parent .uk-icon {
  position: absolute;
  right: 5px;
}
.uk-navbar-nav > li .uk-navbar-dropdown-nav li.uk-parent .uk-nav-sub {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #fff;
  width: 270px;
  padding: 0px;
  top: 0px;
  border-left: 1px solid #eee;
  left: 110%;
  transition: all 0.5s ease;
}
.uk-navbar-nav > li .uk-navbar-dropdown-nav li.uk-parent .uk-nav-sub li a {
  display: block;
  padding: 15px 15px;
}
.uk-navbar-nav > li .uk-navbar-dropdown-nav li.uk-parent:hover .uk-nav-sub {
  opacity: 1;
  left: 100%;
  visibility: visible;
}
.uk-navbar-nav > li:hover {
  background-color: #00622C;
}

.dropdown-cart {
  width: 300px;
  padding: 5px;
}
.dropdown-cart .product_list_widget::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.dropdown-cart .product_list_widget::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.dropdown-cart .product_list_widget::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 2px solid #555;
}
.dropdown-cart ul.woocommerce-mini-cart {
  height: 100%;
  overflow-y: auto;
  max-height: 260px;
  padding-left: 0px;
}
.dropdown-cart ul.woocommerce-mini-cart li {
  padding: 0 10px !important;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin: 10px 10px 10px 0 !important;
  padding-bottom: 10px !important;
  overflow: hidden;
  line-height: 18px;
}
.dropdown-cart ul.woocommerce-mini-cart li a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: red !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  position: absolute;
  right: -1px;
}
.dropdown-cart ul.woocommerce-mini-cart li img {
  width: 65px !important;
  float: right;
}
.dropdown-cart ul.woocommerce-mini-cart li span.quantity {
  margin-top: 10px;
  color: red;
  display: block;
}
.dropdown-cart p.woocommerce-mini-cart__total {
  color: red;
  line-height: 20px;
  margin-bottom: 0;
  font-size: 17px;
  text-align: center;
  padding: 5px 0px;
}
.dropdown-cart p.woocommerce-mini-cart__total strong {
  color: #000;
}
.dropdown-cart p.woocommerce-mini-cart__buttons {
  text-align: center;
  display: flex;
}
.dropdown-cart p.woocommerce-mini-cart__buttons a {
  text-align: center;
  display: inline-block;
  width: 44%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}
.dropdown-cart p.woocommerce-mini-cart__buttons a:first-child {
  margin-right: 10px;
  background: #e55d11;
  color: #fff !important;
}
.dropdown-cart p.woocommerce-mini-cart__buttons a:last-child {
  background: #09860e;
  color: #fff !important;
}

#modal-login .uk-modal-dialog, #modal-register .uk-modal-dialog {
  border-radius: 30px;
}

.wrap-login-form {
  padding: 0px 40px;
}
.wrap-login-form h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.wrap-login-form .form-row {
  display: block;
  width: 100%;
}
.wrap-login-form .form-row label {
  float: left;
}
.wrap-login-form .form-row a {
  float: right;
}
.wrap-login-form .form-row .woocommerce-Input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #eee;
}
.wrap-login-form .woocommerce-form-login__submit {
  display: block;
  width: 100%;
  background: #00853C;
  background-color: #00853C !important;
  border: unset;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 20px;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
  cursor: pointer;
}
.wrap-login-form .change-form {
  text-align: center;
}

.wrap-form-reg {
  padding: 0px 40px;
}
.wrap-form-reg h2 {
  display: block;
  text-align: center;
}
.wrap-form-reg .woocommerce-Input {
  height: 40px;
  width: 100%;
}
.wrap-form-reg .woocommerce-form-register__submit {
  display: block;
  width: 100%;
  background: #00853C;
  border: unset;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
  cursor: pointer;
}
.wrap-form-reg .change-form {
  text-align: center;
}

.content-single-product .alignnone, .wrap-content-sg .alignnone {
  margin: 5px 20px 20px 0;
}
.content-single-product .aligncenter, .content-single-product div.aligncenter, .wrap-content-sg .aligncenter, .wrap-content-sg div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.content-single-product .alignright, .wrap-content-sg .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.content-single-product .alignleft, .wrap-content-sg .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.content-single-product .aligncenter, .wrap-content-sg .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.content-single-product a img.alignright, .wrap-content-sg a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.content-single-product a img.alignnone, .wrap-content-sg a img.alignnone {
  margin: 5px 20px 20px 0;
}
.content-single-product a img.alignleft, .wrap-content-sg a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.content-single-product a img.aligncenter, .wrap-content-sg a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-single-product .wp-caption, .wrap-content-sg .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.content-single-product .wp-caption.alignnone, .wrap-content-sg .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.content-single-product .wp-caption.alignleft, .wrap-content-sg .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.content-single-product .wp-caption.alignright, .wrap-content-sg .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.content-single-product .wp-caption img, .wrap-content-sg .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.content-single-product .wp-caption p.wp-caption-text, .wrap-content-sg .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* ================= breadcrumb ================= */
.breadcrumb-title h2, .breadcrumb-title h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0px;
}

/* ================= home ================= */
.customer-feedback {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}
.customer-feedback .wk-slideset li .wk-panel .wk-panel-title {
  font-size: 20px;
  font-weight: bold;
}
.customer-feedback .wk-slideset li .wk-panel .wk-margin {
  max-width: 400px;
  margin: 0 auto;
}
.customer-feedback .wk-slideset li .wk-panel .wk-margin p {
  font-size: 18px;
  color: #777777;
}
.customer-feedback .wk-slideset li .wk-panel .wk-margin p strong {
  color: #000;
  font-size: 16px;
}
.customer-feedback .wk-slideset-nav li a {
  transition: 0.3s;
  width: 10px;
  height: 10px;
  background: rgba(50, 50, 50, 0.4);
}
.customer-feedback .wk-slideset-nav li.wk-active a {
  width: 40px;
  transition: 0.3s;
  border-radius: 5px;
  background: #00853c;
}

.slide-post-featured .item-post-slide .post-thumbnail {
  height: 200px;
}
.slide-post-featured .item-post-slide a {
  display: block;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 5px 0px;
}
.slide-post-featured .item-post-slide a:hover {
  color: #00853C;
  text-decoration: none;
}
.slide-post-featured .item-post-slide .excerpt {
  font-size: 14px;
  color: #777777;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.slide-post-featured .uk-slider-nav li a {
  background: #C4C4C4;
}
.slide-post-featured .uk-slider-nav li.uk-active a {
  width: 40px;
  transition: 0.3s;
  border-radius: 5px;
  background: #00853C;
}

.wrap-post-friend-farm {
  background: #F9F9F9;
  padding: 15px;
  border-radius: 5px;
}
.wrap-post-friend-farm .row-one {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}
.wrap-post-friend-farm .row-one .item {
  display: block;
  width: 100%;
}
.wrap-post-friend-farm .row-one .item .img-post {
  width: 44%;
  float: left;
}
.wrap-post-friend-farm .row-one .item .content-post {
  width: calc(100% - 47%);
  float: left;
  padding-left: 15px;
}
.wrap-post-friend-farm .row-one .item .content-post a {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wrap-post-friend-farm .row-one .item .content-post .post-meta {
  margin: 5px 0px;
}
.wrap-post-friend-farm .row-one .item .content-post .excerpt-post {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wrap-post-friend-farm .slide-friend-farm .item-post-slide .post-thumbnail {
  height: 150px;
}

.iframe-youtube {
  text-align: center;
  margin-bottom: 20px;
}

.wrap-video-nav .btn-video-show {
  cursor: pointer;
}

#count-down-sale {
  padding: 19px 20px;
}
#count-down-sale div {
  line-height: unset;
}
#count-down-sale .uk-countdown-number {
  color: #E43852;
  font-size: 20px;
  background: #FFF;
  width: 30px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 6px;
}
#count-down-sale .uk-countdown-separator {
  color: #fff;
  line-height: 30px;
}

.nav-hotdeal li a {
  background: #C4C4C4;
}
.nav-hotdeal li.uk-active a {
  width: 40px;
  transition: 0.3s;
  border-radius: 5px;
  background: #00853C;
}

/* ================= category ================= */
.content-article-post .uk-article-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.content-article-post .post-meta .view-single {
  margin-right: 10px;
}
.content-article-post .readmore-article-post {
  background-color: #E8E8E8;
  color: #00853C;
  float: right;
  padding: 5px 10px;
  border-radius: 30px;
}

/* ================= single post ================= */
.single-post #tm-main, .single-product #tm-main, .archive #tm-main {
  padding-top: 30px;
}

.wrap-post-single .title-single-post {
  font-size: 30px;
  font-weight: 600;
}
.wrap-post-single .excerpt-single {
  margin: 20px 0px;
  font-size: 18px;
  color: #6C6C6C;
  padding-left: 10px;
  border-left: 5px solid #FF6300;
}
.wrap-post-single .wrap-content-sg {
  font-size: 17px;
  color: #000;
  margin-top: 0px !important;
}
.wrap-post-single .wrap-content-sg p {
  font-size: 17px;
  color: #000;
}
.wrap-post-single .wrap-content-sg iframe {
  display: block;
  margin: 0 auto;
}
.wrap-post-single .list-tag .tags {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.wrap-post-single .list-tag a {
  font-size: 16px;
  color: #6C6C6C;
  font-weight: 600;
}
.wrap-post-single .post-relate {
  margin: 20px 0px;
}
.wrap-post-single .post-relate .title-pr {
  font-size: 20px;
  font-weight: 600;
}
.wrap-post-single .post-relate .list-item {
  padding-left: 0px;
}
.wrap-post-single .post-relate .list-item .item-post-relate {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.wrap-post-single .post-relate .list-item .item-post-relate img {
  width: 45px;
  height: 30px;
}
.wrap-post-single .post-relate .list-item .item-post-relate a {
  margin: 0px 10px;
  font-size: 16px;
  color: #000;
}
.wrap-post-single .post-relate .list-item .item-post-relate span {
  color: #6C6C6C;
}
.wrap-post-single .list-post-featured .item-featured a {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  display: block;
  margin: 5px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wrap-post-single .list-post-featured .item-featured a:hover {
  text-decoration: none;
}

.share-post-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  max-width: 330px;
}
.share-post-social .zalo-share-button {
  width: 70px;
  height: 22px;
  margin-top: 1px;
}
.share-post-social .zalo-share-button iframe {
  width: 70px;
  height: 22px;
}

.zalo-send-message {
  margin: 10px 0px;
  text-align: center;
  border: 1px solid #E2E2E2;
  padding: 4px 4px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.4s ease;
}
.zalo-send-message a {
  font-size: 18px;
  font-weight: bold;
  color: #0180C7;
  position: relative;
}
.zalo-send-message .img-hide {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 99;
}
.zalo-send-message:hover {
  background: #0180C7;
  color: #FFF;
}
.zalo-send-message:hover a {
  color: #fff;
  text-decoration: none;
}
.zalo-send-message:hover a .img-hide {
  display: inline-block;
}

.call-support {
  border-radius: 5px;
  border: 1px solid rgba(255, 44, 76, 0.5);
  padding: 10px 30px;
  margin: 15px 0px;
  background: #FFFAFA;
}
.call-support p {
  margin: 0px 0px;
}
.call-support p.child-1 {
  color: #FF2C4C;
  font-size: 20px;
  font-weight: bold;
}
.call-support p.child-1 a {
  font-size: 30px;
  color: #FF2C4C;
}
.call-support p.child-2 {
  color: #00853C;
  font-size: 20px;
  font-weight: bold;
}

.form-send-faq {
  margin: 20px 0px;
}
.form-send-faq input {
  height: 45px;
  line-height: 45px;
  background: #F2F2F2;
  border-radius: 10px;
  color: #6C6C6C;
  font-size: 14px;
  margin-bottom: 20px;
}
.form-send-faq textarea {
  background: #F2F2F2;
  border-radius: 10px;
  color: #6C6C6C;
  font-size: 14px;
  margin-bottom: 20px;
}
.form-send-faq .wrap-btn {
  text-align: center;
}
.form-send-faq .wrap-btn input {
  background: #00853C;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 0px 51px;
  height: 47px;
  line-height: 47px;
  border: unset;
  -webkit-appearance: none;
}
.form-send-faq .wrap-btn p {
  font-size: 14px;
  color: #959595;
  margin: 0px;
}

/* ================= taxonomy product ================= */
.woocommerce-breadcrumb {
  font-size: 14px !important;
  color: #00853C !important;
}
.woocommerce-breadcrumb a {
  color: #00853C !important;
}

.order-tab-header {
  margin-bottom: 20px;
}
.order-tab-header .list-btn-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #00853C;
}
.order-tab-header .list-btn-filter button {
  font-size: 16px;
  font-weight: 600;
  background: #F2F2F2;
  color: #6C6C6C;
  border: unset;
  width: 145px;
  height: 48px;
  border-radius: 5px 5px 0px 0px;
}
.order-tab-header .list-btn-filter button.active {
  background: #00853C;
  color: #FFF;
}

.item-product {
  position: relative;
  border-radius: 10px;
  border: 1px solid #E2E2E2;
}
.item-product .onsale {
  position: absolute !important;
  right: 0px;
  text-align: center;
  color: #fff !important;
  /*background: linear-gradient(180deg, #FF2B59 0%, #FF5152 100%) !important;*/
  background: url("../images/salebg.png") !important;
  background-repeat: no-repeat;
  background: unset;
  width: 49px;
  height: 18px;
  min-height: unset !important;
  padding: unset !important;
  left: unset !important;
  line-height: unset !important;
  margin: unset !important;
  border-radius: unset !important;
}
.item-product img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item-product .content-product-article {
  padding: 10px 5px;
}
.item-product .content-product-article .product-name {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #000000;
  text-align: center;
  margin: 5px 0px;
  transition: all 0.5s ease;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 46px;
}
.item-product .content-product-article .price {
  display: block;
  text-align: center;
  /*margin-top: 10px !important;*/
}
.item-product .content-product-article .price .woocommerce-Price-amount {
  font-size: 25px;
  color: #FF6300;
  font-weight: bold;
}
.item-product .content-product-article .price .lienhe {
  font-size: 25px;
  color: #FF6300;
  font-weight: bold;
}
.item-product .content-product-article .price del {
  display: none;
  color: gray !important;
}
.item-product .content-product-article .price del .woocommerce-Price-amount {
  color: gray !important;
  font-size: 20px !important;
}
.item-product .content-product-article .price ins {
  background: transparent !important;
}
.item-product .content-product-article .wrap-btn-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin-top: 5px;
}
.item-product .content-product-article .wrap-btn-item a {
  border: 1px solid #00853C;
  border-radius: 50px;
  color: #00853C;
  transition: all 0.3s ease;
}
.item-product .content-product-article .wrap-btn-item a.add_to_cart_button {
  font-size: 14px;
  width: 132px;
  text-align: center;
  text-transform: inherit;
  display: block;
  padding: unset;
  height: 40px;
  line-height: 40px;
}
.item-product .content-product-article .wrap-btn-item a.add_to_cart_button .uk-icon {
  width: 29px;
  height: 29px;
}
.item-product .content-product-article .wrap-btn-item a.product_type_simple {
  font-size: 14px;
  width: 132px;
  text-align: center;
  text-transform: inherit;
  display: block;
  padding: unset;
  height: 40px;
  line-height: 40px;
}
.item-product .content-product-article .wrap-btn-item a.product_type_simple .uk-icon {
  width: 29px;
  height: 29px;
}
.item-product .content-product-article .wrap-btn-item a.added:after {
  font-family: FontAwesome;
  content: "";
  margin-left: 10px;
}
.item-product .content-product-article .wrap-btn-item a.detail-product {
  height: 40px;
  line-height: 40px;
  width: 130px;
  text-align: center;
}
.item-product .content-product-article .wrap-btn-item a.added_to_cart {
  display: none;
}
.item-product .content-product-article .wrap-btn-item a:hover {
  text-decoration: none;
  color: #fff;
  background: #00853C;
}
.item-product:hover {
  border-color: #00853C;
}
.item-product:hover .content-product-article .product-name {
  color: #00853C;
  text-decoration: none;
}

.item-product-small {
  border-radius: 10px;
}
.item-product-small .name-product .product-name {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.item-product-small img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item-product-small .price del {
  display: none;
}
.item-product-small .price .woocommerce-Price-amount {
  font-size: 20px !important;
}
.item-product-small .wrap-btn-item {
  justify-content: center !important;
}

.item-product-hotdeal .content-product-article {
  background: #F4F4F4;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.item-product-hotdeal .content-product-article .name-product {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.item-product-hotdeal .content-product-article img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item-product-hotdeal .content-product-article .price .woocommerce-Price-amount {
  font-size: 16px !important;
}
.item-product-hotdeal .content-product-article .progress-bar-wrap {
  position: relative;
}
.item-product-hotdeal .content-product-article .progress-bar-wrap span {
  position: absolute;
  z-index: 99;
  display: block;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
}
.item-product-hotdeal .content-product-article .progress-bar-wrap .uk-progress {
  margin: 0px auto;
  background-color: #7A7A7A;
  position: relative;
  height: 20px;
  /*.uk-progress-bar{
  	background: #F84A4A;
  	text-align: center;
  }
  span{
  	display: block;
  	width: 100%;
  }*/
}
.item-product-hotdeal .content-product-article .progress-bar-wrap .uk-progress::-webkit-progress-bar {
  background-color: grey;
}
.item-product-hotdeal .content-product-article .progress-bar-wrap .uk-progress::-moz-progress-bar {
  background-color: grey;
}
.item-product-hotdeal .content-product-article .progress-bar-wrap .uk-progress::-webkit-progress-value {
  background-color: red;
}
.item-product-hotdeal .content-product-article .progress-bar-wrap .uk-progress::-ms-fill {
  background-color: red;
}

/* ================= sidebar ================= */
#tm-sidebar .uk-child-width-1-1 {
  /*div{
  	margin-bottom: 10px;
  }*/
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content h3 {
  font-size: 18px;
  font-weight: 600;
  color: #00853C;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content h3 img {
  padding-right: 10px;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li {
  display: block;
  border-bottom: 1px solid #eee;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li .thumbnail-sidebar {
  width: 90px;
  height: 60px;
  float: left;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li .thumbnail-sidebar img {
  max-width: unset;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li .title-post-sb {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding-left: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 57px;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li .title-post-sb:hover {
  text-decoration: none;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li:first-child {
  display: block !important;
  border-bottom: unset;
  margin-bottom: 10px;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li:first-child .title-post-sb {
  padding-left: 0px;
  float: left;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li:first-child .thumbnail-sidebar {
  height: 200px;
  width: 100%;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-featured li:last-child {
  border-bottom: unset;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-new li {
  display: block;
  border-bottom: 1px solid #eee;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-new li .thumbnail-sidebar {
  width: 90px;
  height: 60px;
  float: left;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-new li .thumbnail-sidebar img {
  max-width: unset;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-new li .title-post-sb {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding-left: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 57px;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-new li .title-post-sb:hover {
  text-decoration: none;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .list-post-new li:last-child {
  border-bottom: unset;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .slidevideo-sb .uk-overlay {
  padding: 5px;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .nav-post-video {
  transform: translateY(18px);
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .nav-post-video .uk-slidenav {
  padding: unset;
  color: #000;
  border: unset !important;
  border-radius: unset;
  width: 30px;
  height: 33px;
  text-align: center;
  line-height: 32px;
  background: #ddd;
  color: #00853c !important;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .nav-post-video .uk-slidenav:hover {
  background: #00853c;
  color: #fff !important;
}
#tm-sidebar .uk-child-width-1-1 .item-sidebar-content .nav-product-video {
  transform: translateY(0px);
}
#tm-sidebar .uk-child-width-1-1 #widget-nav_menu-5 h3 {
  background: #00853C;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  padding: 10px;
  margin-bottom: 5px;
}
#tm-sidebar .uk-child-width-1-1 #widget-nav_menu-5 .uk-nav li a {
  background: #F9F9F9;
  border-radius: 5px;
  font-size: 18px;
  color: #6C6C6C;
  line-height: 25px;
  padding: 10px;
  margin-bottom: 5px;
}
#tm-sidebar .uk-child-width-1-1 #widget-nav_menu-5 .uk-nav li.uk-active a {
  background-color: #E4E4E4;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-7 {
  background-color: #F9F9F9;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-7 h3 {
  background: #00853c;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 5px 0px;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-7 .uk-panel {
  padding: 0px 10px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 35px;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-9 {
  background-color: #E8F4EE;
  padding: 15px;
  border-radius: 5px;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-9 h3 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-9 h3.green {
  color: #00853C;
  margin-bottom: 0px;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-9 h3.red {
  color: #FF2C4C;
  margin: 10px 0px;
}
#tm-sidebar .uk-child-width-1-1 #widget-text-9 p {
  margin: 5px 0px;
  color: #2E2E2E;
  font-size: 16px;
  font-weight: 600;
}
#tm-sidebar .uk-child-width-1-1 #widget-nav_menu-7 h3, #tm-sidebar .uk-child-width-1-1 .widget-menu h3 {
  background: #00853C;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  padding: 10px;
  margin-bottom: 5px;
}
#tm-sidebar .uk-child-width-1-1 #widget-nav_menu-7 .uk-nav li a, #tm-sidebar .uk-child-width-1-1 .widget-menu .uk-nav li a {
  background: #F9F9F9;
  border-radius: 5px;
  font-size: 18px;
  color: #6C6C6C;
  line-height: 25px;
  padding: 10px;
  margin-bottom: 5px;
}
#tm-sidebar .uk-child-width-1-1 #widget-nav_menu-7 .uk-nav li.uk-active a, #tm-sidebar .uk-child-width-1-1 .widget-menu .uk-nav li.uk-active a {
  background-color: #E4E4E4;
}

/* ================= page contact ================= */
.form-contact h3 {
  font-size: 40px;
  font-weight: bold;
  color: #00853C;
  text-align: center;
}
.form-contact .wrap-form {
  background-color: #EDEDED;
  padding: 15px;
  border-radius: 10px;
}
.form-contact .wrap-form input {
  color: #959595;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-contact .wrap-form textarea {
  color: #959595;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-contact .wrap-form .btn-submit {
  display: block;
  font-size: 20px;
  color: #00853C;
  font-weight: 600;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #00853C;
  padding: 10px;
  margin-bottom: 0px;
  transition: all 0.4s ease;
}
.form-contact .wrap-form .btn-submit:hover {
  background: #00853C;
  color: #fff;
}

/* ================= single product ================= */
.main-single-product .header-single-product .woocommerce-product-gallery {
  width: 100% !important;
}
.main-single-product .header-single-product .woocommerce-product-gallery .flex-control-thumbs {
  margin-top: 10px;
}
.main-single-product .header-single-product .woocommerce-product-gallery .flex-control-thumbs li {
  width: 20%;
}
.main-single-product .header-single-product .woocommerce-product-gallery .hethang {
  position: absolute;
  right: 0px;
  z-index: 9999;
  background: #FC3636;
  font-size: 25px;
  font-weight: 600;
  border-bottom-left-radius: 30px;
  color: #fff;
  padding: 3px 20px;
}
.main-single-product .header-single-product .summary {
  width: 100% !important;
  float: unset !important;
}
.main-single-product .header-single-product .summary .product_title {
  font-size: 20px;
  font-weight: bold;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single {
  background: #F9F9F9;
  padding: 5px;
  border-radius: 5px;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single .title-price {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single .price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px auto;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single .price .woocommerce-Price-amount {
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: #FF6300;
  order: 1;
  padding-right: 10px;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single .price ins {
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: #FF6300;
  order: 1;
  padding-right: 10px;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single .price del {
  order: 2;
  color: #6C6C6C !important;
}
.main-single-product .header-single-product .summary .price-and-selled .price-single .price del span {
  font-size: 16px !important;
  color: #6C6C6C !important;
  font-weight: 600 !important;
}
.main-single-product .header-single-product .summary .price-and-selled .selled p {
  margin: 5px 0px;
}
.main-single-product .header-single-product .summary .woocommerce-product-details__short-description {
  background: #E8F4EE;
  padding: 10px;
  border-radius: 5px;
  color: #6C6C6C;
  font-size: 16px;
  font-weight: 600;
  margin: 10px auto;
}
.main-single-product .header-single-product .summary .woocommerce-product-details__short-description p {
  margin: 0px;
}
.main-single-product .header-single-product .summary p.out-of-stock {
  display: none;
}
.main-single-product .header-single-product .summary .cart .quantity {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  float: unset !important;
}
.main-single-product .header-single-product .summary .cart .quantity .qty {
  width: 5em;
}
.main-single-product .header-single-product .summary .cart .wrap-btn-single {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-single-product .header-single-product .summary .cart .wrap-btn-single .single_add_to_cart_button {
  background: #fff;
  color: #00853C;
  font-size: 18px;
  font-weight: 600;
  text-transform: inherit;
  border: 1px solid #00853C;
  border-radius: 50px;
  height: 61px;
  line-height: 61px;
  width: 210px;
}
.main-single-product .header-single-product .summary .cart .wrap-btn-single .single_add_to_cart_button .uk-icon {
  padding-right: 10px;
}
.main-single-product .header-single-product .summary .cart .wrap-btn-single .single_add_to_cart_button:hover {
  background: #00853C;
  color: #fff;
}
.main-single-product .header-single-product .summary .cart .wrap-btn-single a.btn-muangay {
  height: 61px;
  line-height: 61px;
  background: #FF6300;
  width: 210px;
  display: block;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid #FF6300;
}
.main-single-product .header-single-product .summary .cart .wrap-btn-single a.btn-muangay:hover {
  text-decoration: none;
  color: #FF6300;
  background: #fff;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating .devvn_sold {
  display: none;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating .devvn_average_rate {
  display: none;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating .star-rating {
  margin-top: 0px;
  margin-left: 0px;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating .star-rating .rating {
  display: none;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating .star-rating span {
  color: #EFAF09;
}
.main-single-product .header-single-product .summary .woocommerce-product-rating .woocommerce-review-link {
  margin-left: 10px;
}
.main-single-product .header-single-product .summary .single_variation_wrap .price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px auto;
}
.main-single-product .header-single-product .summary .single_variation_wrap .price .woocommerce-Price-amount {
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: #FF6300;
  order: 1;
  padding-right: 10px;
}
.main-single-product .header-single-product .summary .single_variation_wrap .price ins {
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  color: #FF6300;
  order: 1;
  padding-right: 10px;
}
.main-single-product .header-single-product .summary .single_variation_wrap .price del {
  order: 2;
  color: #6C6C6C !important;
}
.main-single-product .header-single-product .summary .single_variation_wrap .price del span {
  font-size: 16px !important;
  color: #6C6C6C !important;
  font-weight: 600 !important;
}
.main-single-product .header-single-product .form-tuvan-single .form-group {
  position: relative;
}
.main-single-product .header-single-product .form-tuvan-single .form-group .uk-input {
  border-radius: 50px;
}
.main-single-product .header-single-product .form-tuvan-single .form-group .btn-form {
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #00853C;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: unset;
  height: 40px;
  padding: 10px 20px;
  -webkit-appearance: none;
}
.main-single-product .header-single-product .dathang-dakenh span {
  color: #6C6C6C;
  font-weight: 600;
  font-size: 16px;
}
.main-single-product .product-muacung {
  margin-top: 30px;
}
.main-single-product .product-muacung .uk-slidenav {
  color: #fff;
  background: #6c6c6ca8;
  border-radius: 50px;
  transition: all 0.4s ease;
}
.main-single-product .product-muacung .uk-slidenav:hover {
  background: #00853C;
}
.main-single-product .main-content-single-product {
  margin: 30px 0px;
}
.main-single-product .main-content-single-product .uk-tab {
  margin-bottom: 3px;
}
.main-single-product .main-content-single-product .uk-tab:before {
  border-bottom: 1px solid #00853C;
}
.main-single-product .main-content-single-product .uk-tab li a {
  color: #000;
  background: #F2F2F2;
  font-size: 14px;
  font-weight: 600;
  text-transform: inherit;
  padding: 5px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #00853C;
}
.main-single-product .main-content-single-product .uk-tab li.uk-active a {
  color: #fff;
  background: #00853C;
  border-color: #00853C;
}
.main-single-product .main-content-single-product .uk-tab li:nth-child(2n), .main-single-product .main-content-single-product .uk-tab li:nth-child(3n) {
  padding-left: 5px;
}
.main-single-product .main-content-single-product .uk-switcher {
  margin-top: 3px !important;
  padding: 10px;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product p {
  font-size: 16px;
  color: #000;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product iframe {
  display: block;
  margin: 0 auto;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .list-tags {
  margin: 10px auto;
  border-top: 1px solid #eeee;
  padding-top: 15px;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .list-tags span {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .list-tags a {
  color: #6C6C6C;
  font-size: 16px;
  font-weight: 600;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .tab-one-qa .title-cmt {
  background: #F2F2F2;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .tab-one-qa .title-cmt span {
  color: #6C6C6C;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .tab-one-qa .commentlist {
  padding-left: 0px;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .tab-one-qa .commentlist .devvn_review_top p {
  margin-bottom: 0px;
}
.main-single-product .main-content-single-product .uk-switcher .content-single-product .product-description iframe {
  display: block;
  margin: 0 auto;
}
.main-single-product .main-content-single-product .uk-switcher .rating-product .commentlist li + li {
  margin-top: 20px !important;
}
.main-single-product .main-content-single-product .uk-switcher .question-answer .commentlist {
  list-style: none;
}
.main-single-product .main-content-single-product .content-fix span {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #FF173C;
}
.main-single-product .main-content-single-product .content-fix .muangay-warp {
  text-align: center;
  margin: 10px 0px;
}
.main-single-product .main-content-single-product .content-fix .muangay-warp .btn-muangay {
  height: 61px;
  line-height: 61px;
  background: #FF6300;
  width: 210px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid #FF6300;
}
.main-single-product .main-content-single-product .content-fix .muangay-warp:hover {
  text-decoration: none;
}
.main-single-product .main-content-single-product .content-fix p {
  font-size: 16px;
  color: #999999 !important;
  font-style: italic;
}
.main-single-product .main-content-single-product .content-fix p a {
  font-weight: 600;
}

.product-type-variable .header-single-product .entry-summary .price-and-selled .price-single .price {
  display: block;
}
.product-type-variable .header-single-product .entry-summary .single_add_to_cart_button {
  background: #fff;
  color: #00853C;
  font-size: 18px;
  font-weight: 600;
  text-transform: inherit;
  border: 1px solid #00853C;
  border-radius: 50px;
  height: 61px;
  line-height: 61px;
  width: 210px;
}
.product-type-variable .header-single-product .entry-summary .single_add_to_cart_button .uk-icon {
  padding-right: 10px;
}
.product-type-variable .header-single-product .entry-summary .single_add_to_cart_button:hover {
  background: #00853C;
  color: #fff;
}

.devvn_review_mid .star-rating span {
  color: #efaf09;
}

.related {
  margin-top: 20px;
}
.related .uk-slidenav {
  color: #fff;
  background: #6c6c6ca8;
  border-radius: 50px;
  transition: all 0.4s ease;
}
.related .uk-slidenav:hover {
  background: #00853C;
}

/* ================= page cart - checkout ================= */
.wrap-cart-page .left-col .shop_table tr th {
  font-size: 16px;
  font-weight: 600;
  color: #00853C;
}
.wrap-cart-page .left-col .shop_table .cart_item td {
  color: #000;
  font-weight: 600;
}
.wrap-cart-page .left-col .shop_table .cart_item td .quantity span {
  display: none;
}
.wrap-cart-page .left-col .shop_table .cart_item td.product-name a {
  color: #000;
}
.wrap-cart-page .left-col .shop_table .cart_item td.product-name a:hover {
  text-decoration: none;
}
.wrap-cart-page .left-col .shop_table .cart_item td.product-remove .uk-icon {
  width: 20px;
}
.wrap-cart-page .right-col .cart-collaterals .cross-sells {
  display: none;
}
.wrap-cart-page .right-col .cart-collaterals .cart_totals {
  width: 100%;
  float: unset;
}
.wrap-cart-page .right-col .cart-collaterals .cart_totals h2 {
  font-size: 16px;
  font-weight: 600;
  color: #00853C;
}
.wrap-cart-page .right-col .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background: #FF6300;
}
.wrap-cart-page .right-col .cart-collaterals .cart_totals .back-tohome a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background: #FFF;
  border: 1px solid #00853C;
  color: #00853C;
  transition: all 0.4s ease;
  text-align: center;
  padding: 5px 0px;
}
.wrap-cart-page .right-col .cart-collaterals .cart_totals .back-tohome a:hover {
  color: #fff;
  background: #00853C;
  text-decoration: none;
}

.wrap-check-oup-page .col-1 {
  width: 100% !important;
  float: unset;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields h3 {
  font-size: 16px;
  font-weight: 600;
  color: #00853C;
  border-bottom: 2px solid #00853C;
  padding-bottom: 10px;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .check-login {
  font-weight: 600;
  color: #000;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .check-login a {
  color: #FF3D00;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_state_field {
  margin-right: 5px;
  display: inline-block;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_state_field .select2-selection--single {
  border-radius: unset;
  height: 40px;
  line-height: 40px;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_state_field .select2-selection--single .select2-selection__rendered {
  line-height: unset;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_city_field {
  margin-right: 5px;
  display: inline-block;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_city_field .select2-selection--single {
  border-radius: unset;
  height: 40px;
  line-height: 40px;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_city_field .select2-selection--single .select2-selection__rendered {
  line-height: unset;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_address_2_field {
  display: inline-block;
  width: calc(100% * 1 / 3.201);
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_address_2_field label {
  width: 100% !important;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_address_2_field .select2-selection--single {
  border-radius: unset;
  height: 40px;
  line-height: 40px;
}
.wrap-check-oup-page .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper #billing_address_2_field .select2-selection--single .select2-selection__rendered {
  line-height: unset;
}
.wrap-check-oup-page .col-2 #order_review_heading {
  font-size: 16px;
  font-weight: 600;
  color: #00853C;
  border-bottom: 2px solid #00853C;
  padding-bottom: 10px;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table thead .product-quantity {
  text-align: center;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tbody {
  border: 1px solid #eee;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tfoot .order-total {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tfoot .magiamgia {
  border-top: unset;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tfoot .magiamgia .wrap-form-giamgia {
  text-align: right;
  display: block;
  float: right;
  width: 285px;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tfoot .magiamgia .wrap-form-giamgia .checkout_coupon {
  margin: 10px 0px;
  max-width: 285px;
  position: relative;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tfoot .magiamgia .wrap-form-giamgia .checkout_coupon .input-text {
  border: 1px solid #0180C7;
}
.wrap-check-oup-page .col-2 #order_review .woocommerce-checkout-review-order-table tfoot .magiamgia .wrap-form-giamgia .checkout_coupon .button {
  background: #0180C7;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #0180C7;
}
.wrap-check-oup-page .col-2 #order_review #payment .wc_payment_methods {
  display: flex;
  flex-direction: column-reverse;
}
.wrap-check-oup-page .col-2 #order_review #payment .place-order .wrap-btn-payment .back-step {
  text-align: center;
  color: #00853C;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #00853C;
  border-radius: 5px;
  display: block;
  padding: 7px;
}
.wrap-check-oup-page .col-2 #order_review #payment .place-order .wrap-btn-payment .back-step:hover {
  color: #fff;
  background: #00853C;
  text-decoration: none;
}
.wrap-check-oup-page .col-2 #order_review #payment .place-order .wrap-btn-payment .button {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #FF6300;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.woocommerce-MyAccount-navigation li a {
  font-size: 18px;
}

/* =========================  responsive ===========================  */
.tm-header .uk-navbar {
  padding-left: 15px;
}
.tm-header .uk-navbar .uk-navbar-nav .uk-navbar-dropdown-nav .uk-nav-sub a {
  color: #000;
}

.row-logo-ft {
  display: none;
}

.uk-pagination li span {
  width: 24px;
  height: 22px;
  border-radius: 50%;
  line-height: 22px;
}
.uk-pagination li.uk-active span {
  background: #00853C;
  color: #fff;
}

.woocommerce-pagination {
  margin-top: 20px;
}
.woocommerce-pagination li span {
  width: 24px;
  height: 22px;
  border-radius: 50%;
  line-height: 22px !important;
  background: #00853C !important;
  color: #fff !important;
}
.woocommerce-pagination li a {
  width: 24px;
  height: 22px;
  border-radius: 50%;
  line-height: 22px;
}

#form-tuvanmobile-popup .uk-modal-dialog {
  background: #EDEDED;
  border-radius: 10px;
  padding: 10px;
}
#form-tuvanmobile-popup .uk-modal-dialog .form-tuvan-mobile {
  padding: 0px;
  display: block;
  text-align: center;
}
#form-tuvanmobile-popup .uk-modal-dialog .form-tuvan-mobile h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #00853C;
  margin-bottom: 10px;
}
#form-tuvanmobile-popup .uk-modal-dialog .form-tuvan-mobile .wrap-form {
  padding: 0px;
}
#form-tuvanmobile-popup .uk-modal-dialog .form-tuvan-mobile .wrap-form input {
  margin-bottom: 10px;
  -webkit-appearance: none;
}
#form-tuvanmobile-popup .uk-modal-dialog .form-tuvan-mobile .wrap-form textarea {
  margin-bottom: 10px;
}
#form-tuvanmobile-popup .uk-modal-dialog .form-tuvan-mobile .wrap-form .btn-submit {
  background: #F00000;
  color: #fff;
  border: 1px solid #F00000;
}

.form-timkiem {
  max-width: 500px;
  display: block;
  overflow: hidden;
}
.form-timkiem .btn-timkiem {
  float: right;
  margin-top: 3px;
}

.wrap-order-finded .woocommerce-order-details {
  margin-bottom: 20px;
}
.wrap-order-finded .woocommerce-order-details .order_details {
  border-collapse: collapse;
  text-align: left;
  min-width: 600px;
}
.wrap-order-finded .woocommerce-order-details .order_details thead tr th {
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.wrap-order-finded .woocommerce-order-details .order_details tr td {
  border: 1px solid #ddd;
  padding: 8px;
}
.wrap-order-finded .woocommerce-order-details .order_details tr th {
  border: 1px solid #ddd;
  padding: 8px;
}
.wrap-order-finded .woocommerce-order-details .order_details tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .list-cat-mobile-index {
    display: none;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .list-cat-mobile-index {
    display: none;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .hamberger .bar1, .hamberger .bar2, .hamberger .bar3 {
    width: 32px;
    height: 2px;
    background-color: #00853C;
    margin: 6px 0;
    transition: 0.4s;
  }

  .open-change-bar .bar1 {
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .open-change-bar .bar2 {
    opacity: 0;
  }

  .open-change-bar .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  .tm-header-mobile .uk-navbar-container {
    background: #fff;
    position: relative;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right {
    width: 90%;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right .uk-navbar-toggle {
    color: #00853C;
  }
  .tm-header-mobile .uk-navbar-container .hidden-head {
    display: none !important;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header {
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 0px;
    height: 55px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header a {
    font-size: 16px;
    border: 1px solid #00853C;
    padding: 6px 0px;
    border-radius: 50px;
    color: #00853C;
    width: 115px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello {
    font: 20px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello a {
    border: unset;
  }
  .tm-header-mobile .woocommerce-product-search {
    position: relative;
    width: 70%;
  }
  .tm-header-mobile .woocommerce-product-search span {
    right: 0px;
    left: unset;
    color: #00853C;
  }
  .tm-header-mobile .woocommerce-product-search .search-field {
    border-radius: 50px;
    border: 0.5px solid #00853C;
    padding-left: 10px !important;
    -webkit-appearance: none;
  }
  .tm-header-mobile #tm-mobile {
    border-top: 1px solid #00853C;
  }
  .tm-header-mobile #tm-mobile .uk-nav > li > a {
    font-size: 20px;
    color: #00853C;
    font-weight: 600;
  }
  .tm-header-mobile #tm-mobile .uk-nav .uk-parent .uk-nav-sub li a {
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
  }

  .wrap-login-form, .wrap-form-reg {
    padding: 0px;
  }

  .contact-header {
    background: #F5F5F5;
    padding: 20px 10px !important;
    border-radius: 20px;
  }
  .contact-header li h3 {
    font-size: 18px;
  }
  .contact-header li:first-child h3 {
    color: red;
    font-weight: 600;
  }

  .article-post .uk-child-width-expand .uk-first-column {
    width: 30%;
  }
  .article-post .uk-child-width-expand .content-article-post {
    width: 70%;
    margin-top: 0px;
  }

  .list-cat-mobile-index {
    display: none;
  }

  .iframe-youtube iframe {
    width: 100% !important;
    height: 400px;
  }

  .shop-table-remake thead {
    display: none;
  }
  .shop-table-remake .cart-mobile-review {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
  }
  .shop-table-remake .cart-mobile-review td::before {
    content: unset !important;
  }
  .shop-table-remake .cart-mobile-review td {
    box-sizing: border-box;
    padding: 5px !important;
  }
  .shop-table-remake .cart-mobile-review .product-thumbnail {
    display: block !important;
    width: 90px;
    float: left;
  }
  .shop-table-remake .cart-mobile-review .product-name {
    float: left;
    width: calc(100% - 115px);
    text-align: left;
  }
  .shop-table-remake .cart-mobile-review .product-name .price-and-qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .shop-table-remake .cart-mobile-review .product-remove {
    width: 25px;
    float: right;
  }
  .shop-table-remake .coupon .input-text {
    width: 50% !important;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .hamberger .bar1, .hamberger .bar2, .hamberger .bar3 {
    width: 32px;
    height: 2px;
    background-color: #00853C;
    margin: 6px 0;
    transition: 0.4s;
  }

  .open-change-bar .bar1 {
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .open-change-bar .bar2 {
    opacity: 0;
  }

  .open-change-bar .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  .tm-header-mobile .uk-navbar-container {
    background: #fff;
    position: relative;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right {
    width: 79%;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right .uk-navbar-toggle {
    color: #00853C;
  }
  .tm-header-mobile .uk-navbar-container .hidden-head {
    display: none !important;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header {
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 0px;
    height: 55px;
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header a {
    font-size: 16px;
    border: 1px solid #00853C;
    padding: 6px 0px;
    border-radius: 50px;
    color: #00853C;
    width: 115px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello {
    font: 20px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello a {
    border: unset;
  }
  .tm-header-mobile .woocommerce-product-search {
    position: relative;
    width: 70%;
  }
  .tm-header-mobile .woocommerce-product-search span {
    right: 0px;
    left: unset;
    color: #00853C;
  }
  .tm-header-mobile .woocommerce-product-search .search-field {
    border-radius: 50px;
    border: 0.5px solid #00853C;
    padding-left: 10px !important;
    -webkit-appearance: none;
  }
  .tm-header-mobile #tm-mobile {
    border-top: 1px solid #00853C;
  }
  .tm-header-mobile #tm-mobile .uk-nav > li > a {
    font-size: 20px;
    color: #00853C;
    font-weight: 600;
  }
  .tm-header-mobile #tm-mobile .uk-nav .uk-parent .uk-nav-sub li a {
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
  }

  .wrap-login-form, .wrap-form-reg {
    padding: 0px;
  }

  .list-cat-mobile-index {
    display: none;
  }

  .iframe-youtube iframe {
    width: 100% !important;
    height: 200px;
  }

  .contact-header {
    background: #F5F5F5;
    padding: 20px 10px !important;
    border-radius: 20px;
  }
  .contact-header li h3 {
    font-size: 18px;
  }
  .contact-header li:first-child h3 {
    color: red;
    font-weight: 600;
  }

  .shop-table-remake thead {
    display: none;
  }
  .shop-table-remake .cart-mobile-review {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
  }
  .shop-table-remake .cart-mobile-review td::before {
    content: unset !important;
  }
  .shop-table-remake .cart-mobile-review td {
    box-sizing: border-box;
    padding: 5px !important;
  }
  .shop-table-remake .cart-mobile-review .product-thumbnail {
    display: block !important;
    width: 90px;
    float: left;
  }
  .shop-table-remake .cart-mobile-review .product-name {
    float: left;
    width: calc(100% - 115px);
    text-align: left;
  }
  .shop-table-remake .cart-mobile-review .product-name .price-and-qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .shop-table-remake .cart-mobile-review .product-remove {
    width: 25px;
    float: right;
  }
  .shop-table-remake .coupon .input-text {
    width: 50% !important;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .hamberger .bar1, .hamberger .bar2, .hamberger .bar3 {
    width: 32px;
    height: 2px;
    background-color: #00853C;
    margin: 6px 0;
    transition: 0.4s;
  }

  .open-change-bar .bar1 {
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .open-change-bar .bar2 {
    opacity: 0;
  }

  .open-change-bar .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  .tm-header-mobile .uk-navbar-container {
    background: #fff;
    position: relative;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right {
    width: 79%;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right .uk-navbar-toggle {
    color: #00853C;
  }
  .tm-header-mobile .uk-navbar-container .hidden-head {
    display: none !important;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header {
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 0px;
    height: 55px;
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header a {
    font-size: 16px;
    border: 1px solid #00853C;
    padding: 6px 0px;
    border-radius: 50px;
    color: #00853C;
    width: 115px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello {
    font: 20px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello a {
    border: unset;
  }
  .tm-header-mobile .woocommerce-product-search {
    position: relative;
    width: 70%;
  }
  .tm-header-mobile .woocommerce-product-search span {
    right: 0px;
    left: unset;
    color: #00853C;
  }
  .tm-header-mobile .woocommerce-product-search .search-field {
    border-radius: 50px;
    border: 1px solid #00853C;
    padding-left: 10px !important;
    -webkit-appearance: none;
  }
  .tm-header-mobile #tm-mobile {
    border-top: 1px solid #00853C;
  }
  .tm-header-mobile #tm-mobile .uk-nav > li > a {
    font-size: 20px;
    color: #00853C;
    font-weight: 600;
  }
  .tm-header-mobile #tm-mobile .uk-nav > li > a:after {
    transform: rotateY(180deg);
  }
  .tm-header-mobile #tm-mobile .uk-nav .uk-parent .uk-nav-sub li a {
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
  }

  .shop-table-remake thead {
    display: none;
  }
  .shop-table-remake .cart-mobile-review {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
  }
  .shop-table-remake .cart-mobile-review td::before {
    content: unset !important;
  }
  .shop-table-remake .cart-mobile-review td {
    box-sizing: border-box;
    padding: 5px !important;
  }
  .shop-table-remake .cart-mobile-review .product-thumbnail {
    display: block !important;
    width: 90px;
    float: left;
  }
  .shop-table-remake .cart-mobile-review .product-name {
    float: left;
    width: calc(100% - 115px);
    text-align: left;
  }
  .shop-table-remake .cart-mobile-review .product-name .price-and-qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .shop-table-remake .cart-mobile-review .product-remove {
    width: 25px;
    float: right;
  }
  .shop-table-remake .coupon .input-text {
    width: 50% !important;
  }

  .hotdeal-class .wrap-title {
    width: 68%;
  }
  .hotdeal-class .wrap-countdown {
    width: 32%;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .hamberger .bar1, .hamberger .bar2, .hamberger .bar3 {
    width: 32px;
    height: 2px;
    background-color: #00853C;
    margin: 6px 0;
    transition: 0.4s;
  }

  .open-change-bar .bar1 {
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .open-change-bar .bar2 {
    opacity: 0;
  }

  .open-change-bar .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  .breadcrumb-title h1 {
    font-size: 20px;
  }
  .breadcrumb-title h2 {
    font-size: 20px;
  }

  .tm-header-mobile .uk-navbar-container {
    background: #fff;
    position: relative;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-left .uk-logo {
    padding: 0px 5px;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right {
    width: 84%;
  }
  .tm-header-mobile .uk-navbar-container .uk-navbar-right .uk-navbar-toggle {
    color: #00853C;
    padding: 0px 5px;
  }
  .tm-header-mobile .uk-navbar-container .hidden-head {
    display: none !important;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header {
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 0px;
    height: 55px;
    width: 89%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header a {
    font-size: 16px;
    border: 1px solid #00853C;
    padding: 6px 0px;
    border-radius: 50px;
    color: #00853C;
    width: 115px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello {
    font: 20px;
  }
  .tm-header-mobile .uk-navbar-container .login-res-header .hello a {
    border: unset;
  }
  .tm-header-mobile .woocommerce-product-search {
    position: relative;
    width: 86%;
    margin: 10px 0px !important;
  }
  .tm-header-mobile .woocommerce-product-search span {
    right: 0px;
    left: unset;
    color: #00853C;
  }
  .tm-header-mobile .woocommerce-product-search .search-field {
    border-radius: 50px;
    border: 1px solid #00853C;
    padding-left: 10px !important;
    -webkit-appearance: none;
  }
  .tm-header-mobile #tm-mobile {
    border-top: 1px solid #00853C;
  }
  .tm-header-mobile #tm-mobile .uk-nav > li > a {
    font-size: 20px;
    color: #00853C;
    font-weight: 600;
  }
  .tm-header-mobile #tm-mobile .uk-nav > li > a:after {
    transform: rotateY(180deg);
  }
  .tm-header-mobile #tm-mobile .uk-nav .uk-parent .uk-nav-sub li a {
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
  }

  .wrap-login-form, .wrap-form-reg {
    padding: 0px;
  }

  .order-tab-header {
    margin-bottom: 20px;
  }
  .order-tab-header .list-btn-filter {
    flex-wrap: unset;
    display: block;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .order-tab-header .list-btn-filter button {
    width: 43%;
  }
  .order-tab-header .list-btn-filter button:nth-child(odd) {
    margin-right: 5px;
  }

  .contact-header {
    background: #F5F5F5;
    padding: 20px 10px !important;
    border-radius: 20px;
  }
  .contact-header li h3 {
    font-size: 18px;
  }
  .contact-header li:first-child h3 {
    color: red;
    font-weight: 600;
  }

  .category-tin-tuc .attachment-post-thumbnail {
    width: 100%;
  }
  .category-tin-tuc .content-article-post {
    margin-top: 10px;
  }

  #widget-media_image-3 img {
    width: 100%;
  }

  .wrap-post-single .title-single-post {
    font-size: 20px;
  }
  .wrap-post-single .excerpt-single {
    font-size: 16px;
  }
  .wrap-post-single iframe {
    width: 100%;
    height: 200px;
  }

  .item-featured .thumbnail img {
    width: 100%;
  }

  .form-contact h3 {
    font-size: 30px;
  }

  .list-cat-mobile-index .wk-slidenav-position {
    margin-bottom: 0px !important;
  }
  .list-cat-mobile-index .wk-slidenav-position .wk-panel-teaser {
    margin-bottom: 5px;
  }
  .list-cat-mobile-index .wk-slidenav-position .wk-panel-title {
    font-size: 12px;
  }
  .list-cat-mobile-index .wk-slideset-nav {
    margin-top: 0px !important;
  }
  .list-cat-mobile-index .wk-slideset-nav li a {
    transition: 0.3s;
    width: 10px;
    height: 10px;
    background: rgba(50, 50, 50, 0.4);
  }
  .list-cat-mobile-index .wk-slideset-nav li.wk-active a {
    width: 40px;
    transition: 0.3s;
    border-radius: 5px;
    background: #00853c;
  }

  .hotdeal-class {
    display: flex;
    flex-direction: row;
  }
  .hotdeal-class .wrap-title {
    width: 42%;
  }
  .hotdeal-class .wrap-title h2 {
    font-size: 22px !important;
  }
  .hotdeal-class .wrap-countdown {
    width: 58%;
  }
  .hotdeal-class .wrap-countdown div {
    padding: 6.6px !important;
  }

  .slider-product-index .uk-slider-items {
    margin-left: -5px;
  }
  .slider-product-index .uk-slider-items > div {
    padding-left: 5px;
  }

  .item-product-hotdeal .content-product-article .name-product {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .item-product-hotdeal .content-product-article .progress-bar-wrap span {
    font-size: 12px;
    top: 2px;
  }

  .iframe-youtube iframe {
    width: 100% !important;
    height: 200px;
  }

  .slide-friend-farm .item-post-slide .post-thumbnail {
    height: 127px !important;
  }
  .slide-friend-farm .item-post-slide .post-thumbnail img {
    width: 100%;
  }
  .slide-friend-farm .uk-slidenav {
    color: #fff;
    background: #6c6c6ca8;
    border-radius: 50px;
    transition: all 0.4s ease;
  }
  .slide-friend-farm .uk-slidenav:hover {
    background: #00853C;
  }

  .wrap-post-friend-farm .row-one .item .img-post {
    width: 100%;
  }
  .wrap-post-friend-farm .row-one .item .content-post {
    width: 100%;
    padding-left: 0px;
    margin-top: 3px;
  }
  .wrap-post-friend-farm .row-two .item-post-slide .post-title {
    font-size: 14px;
  }

  .customer-feedback {
    border: unset;
  }
  .customer-feedback .wk-slideset li .wk-panel .wk-panel-title {
    margin-bottom: 5px;
  }
  .customer-feedback .wk-slideset li .wk-panel p {
    margin: 0px auto;
  }

  .row-logo-ft {
    display: block;
    text-align: center;
  }

  .footer-cat-row .uk-flex-auto .uk-list {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }

  .wrap-content-sg {
    font-size: 16px;
    line-height: 26px;
  }
  .wrap-content-sg p {
    font-size: 17px;
    line-height: 26px;
  }

  .post-relate .item-post-relate a {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /*========= tax product ===========*/
  .tax-product_cat #tm-main .uk-container, .post-type-archive-product #tm-main .uk-container {
    padding-right: 4px;
    padding-left: 4px;
  }
  .tax-product_cat #tm-main .uk-container .products, .post-type-archive-product #tm-main .uk-container .products {
    margin-left: -5px;
  }
  .tax-product_cat #tm-main .uk-container .products > div, .post-type-archive-product #tm-main .uk-container .products > div {
    padding-left: 5px;
  }
  .tax-product_cat #tm-main .uk-container .products .item-product .name-product a, .post-type-archive-product #tm-main .uk-container .products .item-product .name-product a {
    font-size: 14px !important;
  }
  .tax-product_cat #tm-main .uk-container .products .item-product .price, .post-type-archive-product #tm-main .uk-container .products .item-product .price {
    margin-top: 0px;
  }
  .tax-product_cat #tm-main .uk-container .products .item-product .price .woocommerce-Price-amount, .post-type-archive-product #tm-main .uk-container .products .item-product .price .woocommerce-Price-amount {
    font-size: 20px !important;
  }

  .item-product {
    border-radius: 10px;
  }
  .item-product .name-product {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .item-product .wrap-btn-item {
    justify-content: center !important;
  }
  .item-product .wrap-btn-item .detail-product {
    display: none;
  }

  /* ======= single product ======= */
  .header-single-product .woocommerce-product-gallery {
    margin-bottom: 10px;
  }

  .single-product #tm-main .uk-container {
    padding-right: 4px;
    padding-left: 4px;
  }

  .woocommerce-notices-wrapper .woocommerce-message {
    display: flex;
    flex-direction: column-reverse;
  }
  .woocommerce-notices-wrapper .woocommerce-message .wc-forward {
    width: 150px;
    background: #00a859;
    color: #fff;
  }

  .wrap-btn-single .single_add_to_cart_button {
    width: 190px !important;
    margin-right: 10px !important;
  }
  .wrap-btn-single a.btn-muangay {
    width: 190px !important;
  }

  .main-content-single-product {
    justify-content: center;
  }
  .main-content-single-product .uk-tab {
    justify-content: center;
  }
  .main-content-single-product .uk-tab li {
    padding-left: 5px;
  }
  .main-content-single-product .uk-switcher .content-single-product {
    font-size: 17px;
    line-height: 26px;
  }
  .main-content-single-product .uk-switcher .content-single-product p {
    font-size: 17px;
    line-height: 26px;
  }
  .main-content-single-product .uk-switcher .content-single-product iframe {
    width: 100%;
    height: 200px;
  }
  .main-content-single-product .uk-switcher .rating-product .star_box {
    box-sizing: border-box;
  }
  .main-content-single-product .uk-switcher .rating-product .devvn_prod_cmt .devvn_cmt_form #devvn_cmt textarea {
    box-sizing: border-box;
  }
  .main-content-single-product .uk-switcher .rating-product .devvn_prod_cmt .devvn_cmt_form #devvn_cmt .devvn_cmt_form_bottom {
    box-sizing: border-box;
  }

  .remove-padding-mobile {
    margin-left: -5px;
  }
  .remove-padding-mobile > div {
    padding-left: 5px;
  }

  .review-order-page .woocommerce-thankyou-order-details {
    padding-left: 0px;
  }
  .review-order-page .woocommerce-thankyou-order-details li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 5px 0px;
  }

  .shop-table-remake thead {
    display: none;
  }
  .shop-table-remake .cart-mobile-review {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
  }
  .shop-table-remake .cart-mobile-review td::before {
    content: unset !important;
  }
  .shop-table-remake .cart-mobile-review td {
    box-sizing: border-box;
    padding: 5px !important;
  }
  .shop-table-remake .cart-mobile-review .product-thumbnail {
    display: block !important;
    width: 90px;
    float: left;
  }
  .shop-table-remake .cart-mobile-review .product-name {
    float: left;
    width: calc(100% - 115px);
    text-align: left;
  }
  .shop-table-remake .cart-mobile-review .product-name .price-and-qty {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .shop-table-remake .cart-mobile-review .product-remove {
    width: 25px;
    float: right;
  }
  .shop-table-remake .coupon .input-text {
    width: 50% !important;
  }

  .uk-switcher .uk-child-width-1-2 .name-product .product-name {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .uk-switcher .uk-child-width-1-2 .price del {
    display: none;
  }
  .uk-switcher .uk-child-width-1-2 .price .woocommerce-Price-amount {
    font-size: 20px !important;
  }
  .uk-switcher .uk-child-width-1-2 .price .lienhe {
    font-size: 20px !important;
  }

  .woocommerce-checkout .woocommerce-billing-fields__field-wrapper #billing_last_name_field, .woocommerce-checkout .woocommerce-billing-fields__field-wrapper #billing_state_field, .woocommerce-checkout .woocommerce-billing-fields__field-wrapper #billing_city_field, .woocommerce-checkout .woocommerce-billing-fields__field-wrapper #billing_address_2_field {
    width: 100% !important;
  }

  #payment {
    padding: 0px !important;
  }
  #payment .wrap-btn-payment {
    display: flex;
    flex-direction: column-reverse;
  }
  #payment .wrap-btn-payment .button {
    margin-bottom: 0px !important;
  }

  .col-2 #order_review .shop_table thead .product-total {
    text-align: right;
  }
  .col-2 #order_review .shop_table tbody td {
    padding: 15px 5px;
  }
  .col-2 #order_review .shop_table tbody .cart_item .product-name {
    width: 40%;
    min-width: unset;
  }
  .col-2 #order_review .shop_table tbody .cart_item .product-quantity {
    min-width: unset;
    width: 10%;
  }
  .col-2 #order_review .shop_table tbody .cart_item .product-total {
    text-align: right;
    min-width: unset;
    width: 30%;
  }

  .slidevideo-sb img {
    width: 100%;
  }

  .slide-post-featured .item-post-slide .post-thumbnail {
    height: 270px;
  }
}
@media screen and (device-aspect-ratio: 40/71) {
  .wrap-btn-single .single_add_to_cart_button {
    height: 49px !important;
    line-height: 49px !important;
    padding: 0px 10px !important;
    font-size: 14px !important;
  }
  .wrap-btn-single .single_add_to_cart_button .uk-icon {
    width: 22px;
    padding-right: 0px;
  }
  .wrap-btn-single .btn-muangay {
    height: 49px !important;
    line-height: 49px !important;
    padding: 0px 10px !important;
    font-size: 14px !important;
  }

  .main-single-product .main-content-single-product .uk-tab li a {
    padding: 5px 20px;
  }
  .main-single-product .main-content-single-product .content-single-product img {
    height: auto !important;
  }

  .hotdeal-class .wrap-title {
    width: 68%;
  }
  .hotdeal-class .wrap-countdown {
    width: 32%;
  }

  .col-2 #order_review {
    overflow: hidden;
  }
  .col-2 #order_review .shop_table thead th {
    padding: 16px 3px;
  }
  .col-2 #order_review .shop_table thead .product-total {
    text-align: center;
  }
  .col-2 #order_review .shop_table tbody td {
    padding: 15px 5px;
  }
  .col-2 #order_review .shop_table tbody .cart_item .product-name {
    width: auto !important;
    min-width: unset;
  }
  .col-2 #order_review .shop_table tbody .cart_item .product-quantity {
    min-width: unset;
  }
  .col-2 #order_review .shop_table tbody .cart_item .product-total {
    text-align: right;
    min-width: unset;
    text-align: center;
  }

  .tm-header-mobile .woocommerce-product-search {
    width: 83%;
  }
}
